requests
streamlit
fastapi
flask
tqdm
uvicorn
torch
opencv-python
pillow
qrcode[pil]
reportlab
numpy
torchvision
pyzbar
beautifulsoup4
lxml
peft
transformers>=4.40.0,<4.45.0
accelerate
addict
matplotlib
easydict
urllib3
huggingface_hub
trl>=0.9.0
liger-kernel
bitsandbytes
datasets
tensorboard
einops
timm
scipy
