requests
streamlit
fastapi
flask
tqdm
uvicorn
torch
seleniumbase
pyspark
flask-cors
python-logging-loki
python-dotenv
tensorboard
opencv-python
pillow
qrcode[pil]
reportlab
numpy
torchvision
pyzbar
beautifulsoup4
lxml
peft
transformers
accelerate
urllib3
huggingface_hub
pyyaml
bitsandbytes
jiwer
openai
